// Resets, Clearfix, etc
@import "partials/clearfix";
@import "partials/reset";

// Variables
$darkColor: gray;
$lightColor: blue;
$brightColor: yellow;
$padding: 10px;

// Mixins
@mixin bodyBackground($color) {
  background-color: $color;
}

@mixin listBlock($fontColor){
  font-size: 35px;
  color: $fontColor;
}

@mixin h1Font($color){
  font-size: 55px;
  color: $color;
}

//Media Query
@media screen and (min-width: 600px){
  body {
    @include bodyBackground($brightColor);
  }
  h1, h2, h3, h4{
    @include listBlock($brightColor);
  }
  h1 {
    @include h1Font($lightColor);
  }
  .block_family{
    max-width: 550px;

  }
  .block_family li{
    background-color: $lightColor;
    display:inline-block;
    width: 195px;
    height: 35px;
  }
}
@media screen and (min-width: 900px){
  body {
    @include bodyBackground($darkColor);
  }
  h1, h2, h3, h4{
    @include listBlock($darkColor);
  }
  h1{
    @include h1Font($brightColor);
  }
  .block_family{
    max-width: 800px;
  }
  .block_family li{
    background-color: $brightColor;
    display:inline-block;
    width: 200px;
  }
}
@media screen and (max-width: 600px){
  body {
    @include bodyBackground($brightColor);
  }
  h1, h2, h3, h4{
    @include listBlock($lightColor);
  }
  h1 {
    @include h1Font($darkColor);
  }
  .block_family{
    max-width: 350px;
  }
  .block_family li{
    background-color: $darkColor;
  }
}






// Styles
body{
  text-align: center;
  color: #EEE;
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  padding: 20px;
}

h2{

}


.block_family{
  margin:auto;
}

.block_family li{
  margin: 5px;
  padding: 25px;

}